body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-size: 24px;
    margin-bottom: 20px;
}
  
#board div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(0, 0, 0);
}