body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    font-size: 36px;
    margin-bottom: 20px;
}
  
#board div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 2px solid rgb(0, 0, 0);
}
  